<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.jpuderer.android.things.taxidatalogger">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_SENSOR_DRIVERS" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_GPS_DRIVERS" />

    <application>
        <uses-library android:name="com.google.android.things" />

        <activity android:name="net.jpuderer.android.things.taxidatalogger.DataLoggerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="net.jpuderer.android.things.taxidatalogger.cloud.CloudPublisherService"
            android:exported="true">
            <intent-filter>
                <action android:name="net.jpuderer.android.things.taxidatalogger.CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.jpuderer.android.things.taxidatalogger.CLEAR_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.jpuderer.android.things.taxidatalogger.RESEND_DATA" />
            </intent-filter>
        </service>
    </application>

</manifest>